# Database connection string
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>"

# AWS credentials
AWS_ACCESS_KEY_ID=<YourAWSAccessKeyId>
AWS_SECRET_ACCESS_KEY=<YourAWSSecretAccessKey>
AWS_REGION=<YourAWSRegion>

# Application specific variables
APP_PORT=8082

